@font-face {
   font-family: DeadlyClaws;
   src: url(DEADLYCLAWS.ttf)
}

body {
    background-color: #181818;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
  }

.flex-container {
    display: flex;
    justify-content: space-around;
  }

#games img {
    height: 18rem;
}

#games .flex-container {
    display: flex;
    justify-content: space-around;
}

#header {
  background-image: url("https://i.imgur.com/ZmqX3rQ.jpg");
  
}

#members img {
    height: 400px;
}

#members .flex-container {
    display: flex;
    justify-content: space-around;
}

.card-body {
    background-color: #000000;
}

.navbar-brand {
    font-family: DeadlyClaws;
}