<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="docs/css/index.css">
    <title>Animal Kingdom Gaming Group</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">AKG Group</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                    aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainMenu">

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">

                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                <a class="dropdown-item" href="{% url 'my_account' %}">My account</a>
                                <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                            </div>
                        </li>
                    </ul>

                    <form class="form-inline ml-auto">
                        <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
                        <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Join Us</a>
                    </form>

                </div>
            </div>
        </nav>
        <div id="header">
            <img src="https://i.imgur.com/TTTrnYT.png">
            <p>We are the Animal Kingdom Gaming Group, a few buddies who enjoy gaming together and bringing others into
                the fold.</p>
            <div id="members" class="flex-container">
                <p><img src="https://i.imgur.com/6OUEJuv.png"></p>
                <p><img src="https://i.imgur.com/jmHNTvD.png"></p>
                
            </div>
        </div>
        <div id="members2" class="flex-container">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://i.imgur.com/UtX7grn.png" class="card-img" alt="pic of weavedawg">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Weavedawg</h5>
                            <p class="card-text">Weave is 31 years old, he's a US Army veteran, but don't worry, that
                                didn't
                                make him any better at shooters in way aside from knowing that it is not real life at
                                all.
                                If you die there is no respawn. He's got the better PC between him and Brutal.</p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">ABrutalAnimal</h5>
                            <p class="card-text">A huge piece of shit, he thinks he has a dope ass mullet but it pales
                                in
                                comparison to the guys from Eskimo Callboys. He's pretty bad at gaming and is often
                                carried
                                by weavedawg through most matches, but weave is best friend's with his brother so he
                                deals
                                with him. Quite whiney too.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="https://i.imgur.com/ai4D3dI.png" class="card-img" alt="pic of ABrutalAnimal">
                    </div>
                </div>
            </div>
        </div>
        <div id="join">
            <p class="h1">If you ever want to game with us:</p>
            <p><a href=#>Register</a> or <a href=#>Log In</a></p>
            <p>Go to the <a href=#>sign up</a> page</p>
            <p>Select a game from the list</p>
            <p>Select a date</p>
            <p>And we'll see you online</p>
        </div>

        <p class="h1">Games we play</p>
        <div id="games" class="row row-cols-2 row-cols-md-4">
            <div class="col mb-4">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <p class="card-text">Apex Legends</p>
                    </div>
                    <img src="https://i.imgur.com/LmDHHPj.jpg" class="card-img-bottom" alt="Apex Legends cover art">
                </div>
            </div>
            <div class="col mb-4">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <p class="card-text">Rainbow Six: Siege</p>
                    </div>
                    <img src="https://i.imgur.com/ThIr4PN.jpg" class="card-img-bottom" alt="Apex Legends cover art">
                </div>
            </div>
            <div class="col mb-4">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <p class="card-text">Rocket League</p>
                    </div>
                    <img src="https://i.imgur.com/mGPQPSP.jpg" class="card-img-bottom" alt="Apex Legends cover art">
                </div>
            </div>
            <div class="col mb-4">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <p class="card-text">For Honor</p>
                    </div>
                    <img src="https://i.imgur.com/Z5TgqLD.jpg" class="card-img-bottom" alt="Apex Legends cover art">
                </div>
            </div>
            <div class="col mb-4">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <p class="card-text">Elite Dangerous</p>
                    </div>
                    <img src="https://i.imgur.com/jCuK15H.jpg" class="card-img-bottom" alt="Apex Legends cover art">
                </div>
            </div>
            <div class="col mb-4">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <p class="card-text">Fall Guys</p>
                    </div>
                    <img src="https://i.imgur.com/DelLdPa.jpg" class="card-img-bottom" alt="Apex Legends cover art">
                </div>
            </div>
            <div class="col mb-4">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <p class="card-text">Mortal Kombat 11</p>
                    </div>
                    <img src="https://i.imgur.com/VAOXqVc.png" class="card-img-bottom" alt="Apex Legends cover art">
                </div>
            </div>
            <div class="col mb-4">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <p class="card-text">Battlewake</p>
                    </div>
                    <img src="https://i.imgur.com/GwLmMQC.jpg" class="card-img-bottom" alt="Apex Legends cover art">
                </div>
            </div>


        </div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <a class="navbar-brand" href="#"><img src="https://i.imgur.com/VdArSaM.png" alt="WEAVE Logo" width="35rem"
                    height="50rem" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="collapsibleNavbar">
                <ul class="nav navbar-nav ml-auto w-100 justify-content-center flex-row">
                    <li class="nav-item">
                        <a href="mailto:weaverling.a@gmail.com"><img src="https://i.imgur.com/C9t63FA.png"
                                title="Contact" alt="Contact" width="50rem"></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.facebook.com/weavedawg74" target="_blank"><img
                                src="https://i.imgur.com/zy2V17P.png" title="Facebook" alt="Facebook" width="50rem"></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.linkedin.com/in/andrew-weaverling/" target="_blank"><img
                                src="https://i.imgur.com/Hn8Ix3A.png" title="LinkedIn" alt="LinkedIn" width="50rem"></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/weavedawg74" target="_blank"><img
                                src="https://i.imgur.com/86gBT2g.png" title="Github" alt="Github" width="50rem"></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.instagram.com/weavedawg74/" target="_blank"><img
                                src="https://i.imgur.com/RgBDJCr.png" title="Instagram" alt="Instagram"
                                width="50rem"></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.youtube.com/channel/UCQJSMsybsmQmvPmgTOR5osw" target="_blank"><img
                                src="https://i.imgur.com/aYOy66y.png" title="YouTube" alt="YouTube" width="50rem"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>